Checks: >
  -*,bugprone-*,-bugprone-easily-swappable-parameters,clang-analyzer-*,performance-*,
  misc-definitions-in-headers,misc-redundant-expression,modernize-use-nullptr,modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(src|tests)/.*'
