:root,
[data-md-color-primary="custom"] {
  --md-primary-fg-color: #861a1a;
  --md-primary-fg-color--light: #a32424;
  --md-primary-fg-color--dark: #631313;

  --md-typeset-a-color: var(--md-accent-fg-color); 
}
